@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .sidebarLeftActive {
        @apply py-2 px-[25px] font-semibold text-[14px] flex gap-3 items-center text-[#0f7070];
    }

    .sidebarLeftNotActive {
        @apply py-2 px-[25px] font-semibold text-[14px] flex gap-3 items-center text-[#dadada];
    }

    .hover-icon {
        @apply hover:bg-slate-700 p-[8px] rounded-[50%] text-white cursor-pointer;
    }

    .media-item {
        @apply flex items-center text-blur-100 text-xs cursor-pointer rounded-md hover:bg-main-0;
    }

    .search-options {
        @apply text-blur-100 text-sm uppercase hover:text-white font-medium py-4;
    }
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,500;0,600;0,700;0,800;1,600;1,700&family=Inter:wght@300;400;500;600;700;800&family=Nunito:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Sora:wght@500;600;700;800&display=swap');
}

.section-item:hover .section-overlay {
    display: flex;
}

.zingchart {
    background: radial-gradient(50% 124.93% at 95.86% -10%, #3efad9 0, hsla(0, 0%, 100%, 0) 100%),
        linear-gradient(91.56deg, #ff9357 1.54%, #9100ff 98.71%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-shadow-no-1 {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    font-size: 48px;
    color: #4a90e2;
}

.text-shadow-no-2 {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    font-size: 48px;
    color: #27bd9c;
}

.text-shadow-no-3 {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    font-size: 48px;
    color: #e35050;
}

.media-item:hover .media-item-play {
    display: block;
}

.media-item:hover .overlay-media {
    display: flex;
}

.progress-song:hover span {
    width: 16px;
    height: 16px;
}

.progress-song-overlay {
    background: linear-gradient(
        to right,
        rgba(246, 114, 128, 1) 0%,
        rgba(192, 108, 132, 1) 50%,
        rgba(53, 92, 125, 1) 100%
    );
}

input[type='range'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 150px;
    background-color: transparent;
    height: 12px;

    &:focus {
        outline-color: #f8b195;
    }
}

input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    height: 3px;
    background: rgb(246, 114, 128);
    background: -webkit-linear-gradient(
        left,
        rgba(246, 114, 128, 1) 0%,
        rgba(192, 108, 132, 1) 50%,
        rgba(53, 92, 125, 1) 100%
    );
    background: linear-gradient(
        to right,
        rgba(246, 114, 128, 1) 0%,
        rgba(192, 108, 132, 1) 50%,
        rgba(53, 92, 125, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#f67280",
      endColorstr="#355c7d",
      GradientType=1
    );
}

input[type='range']::-moz-range-track {
    -moz-appearance: none;
    appearance: none;
    height: 3px;
    background: rgb(246, 114, 128);
    background: -moz-linear-gradient(
        left,
        rgba(246, 114, 128, 1) 0%,
        rgba(192, 108, 132, 1) 50%,
        rgba(53, 92, 125, 1) 100%
    );
    background: linear-gradient(
        to right,
        rgba(246, 114, 128, 1) 0%,
        rgba(192, 108, 132, 1) 50%,
        rgba(53, 92, 125, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#f67280",
      endColorstr="#355c7d",
      GradientType=1
    );
}

input[type='range']::-ms-track {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 3px;
    background: rgb(246, 114, 128);
    background: -moz-linear-gradient(
        left,
        rgba(246, 114, 128, 1) 0%,
        rgba(192, 108, 132, 1) 50%,
        rgba(53, 92, 125, 1) 100%
    );
    background: -webkit-linear-gradient(
        left,
        rgba(246, 114, 128, 1) 0%,
        rgba(192, 108, 132, 1) 50%,
        rgba(53, 92, 125, 1) 100%
    );
    background: linear-gradient(
        to right,
        rgba(246, 114, 128, 1) 0%,
        rgba(192, 108, 132, 1) 50%,
        rgba(53, 92, 125, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#f67280",
      endColorstr="#355c7d",
      GradientType=1
    );
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: 2px solid #f8b195;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: relative;
    bottom: 8px;
    background: #222 url('http://codemenatalie.com/wp-content/uploads/2019/09/slider-thumb.png')
        center no-repeat;
    background-size: 50%;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
    cursor: grab;

    &:active {
        cursor: grabbing;
    }
}

input[type='range']::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #f8b195;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: relative;
    bottom: 8px;
    background: #222 url('http://codemenatalie.com/wp-content/uploads/2019/09/slider-thumb.png')
        center no-repeat;
    background-size: 50%;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
    cursor: grab;

    &:active {
        cursor: grabbing;
    }
}

input[type='range']::-ms-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #f8b195;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: relative;
    bottom: 8px;
    background: #222 url('http://codemenatalie.com/wp-content/uploads/2019/09/slider-thumb.png')
        center no-repeat;
    background-size: 50%;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
    cursor: grab;

    &:active {
        cursor: grabbing;
    }
}
